:root {
    --color-ui-input-border: #BEBEBE;

    --color-background: linear-gradient(180deg, #4A4A4A 0%, #36426D 100%);
}

/* css reset */

body, html {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-family: "KarlaRegular";
    font-style: normal;
    font-weight: 100;
}

*, *:before, *:after {
    box-sizing: border-box;
}

@media (orientation: portrait) {
    
}

@media (orientation: landscape) {
    
    @font-face {
        font-family: "KarlaRegular";
        src: url("../fonts/karla/Karla-Regular.ttf");
    }
    
    @font-face {
        font-family: "KarlaBold";
        src: url("../fonts/karla/Karla-Bold.ttf");
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 380px);
        justify-content: center;
        align-content: center;
        height: 100vh;
        padding: 0.5rem;
    }
    
    .register-main {
        background: #FFF;
        border-radius: 10px 0px 0px 10px;
        padding: 2rem;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    }
    
    .register-main__header-1 {
        font-size: 36px;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -2.7px;
        background: linear-gradient(180deg, #2E2E2F 0%, #33579D 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        cursor: context-menu;
        font-family: "KarlaBold";
    }
    
    .register-form {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 3rem;
        font-size: 18px;
    }
    
    .register-form > div {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .register-form__link {
        color: #636363;
        text-decoration: none;
        text-align: right;
    }
    
    .register-form__button {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: linear-gradient(180deg, #2E2E2F 0%, #33579D 100%);
        border: none;
        justify-self: right;
    }
    
    .register-form__button:hover {
        filter: brightness(1.5);
        cursor: pointer;
    }
    
    .register-form__button-icon {
        fill: #FFF;
        align-self: center;
        justify-self: center;
        width: 24px;
        height: 24px;
    }
    
    .register-form__input {
        border: none;
        border-bottom: 2px solid #BEBEBE;
        background: #FFF;
        font-size: 18px;
        font-weight: bold;
    }
    
    .register-form__input:valid {
        border-bottom: 2px solid #71D49F;
    }
    
    textarea:focus, .register-form__input:focus {
        outline: none;
    }
    
    .register-support {
        background: linear-gradient(180deg, #2D2E2E 0%, #32579E 100%);
        border-radius: 0px 10px 10px 0px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    }
    
    body {
        background: var(--color-background);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}