{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{template "title" .}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/transaction.css">
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <script type="text/javascript" src="/static/htmx@1.9.6.min.js"></script>
</head>

<body hx-boost="true">
  {{template "main" .}}
</body>

</html>
{{end}}
